@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "General Sans", "Gill Sans", Calibri, "Gill Sans MT";
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.floating {
  animation: float 6s ease-in-out infinite;
}
